{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

    {% block component_product_box_image %}
        <div class="product-image-wrapper">
            {# fallback if display mode is not set #}
            {% set displayMode = displayMode ?: 'standard' %}

            {# set display mode 'cover' for box-image with standard display mode #}
            {% if layout == 'image' and displayMode == 'standard' %}
                {% set displayMode = 'cover' %}
            {% endif %}

            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                title="{{ name }}"
                class="product-image-link is-{{ displayMode }}">
                {% if cover.url %}
                    {% set attributes = {
                        'class': 'product-image is-'~displayMode,
                        'alt': (cover.translated.alt ?: name),
                        'title': (cover.translated.title ?: name)
                    } %}

                    {% if displayMode == 'cover' or displayMode == 'contain' %}
                        {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                    {% endif %}
                        {% sw_thumbnails 'product-image-thumbnails' with { media: cover,  sizes: sizes  } %}
                    {% else %}
                        <div class="product-image-placeholder">
                            {% sw_icon 'placeholder' style { 'size': 'fluid' } %}
                        </div>
                {% endif %}
            </a>
                {% block component_product_box_wishlist_action %}
                    {% if (context.customer is not null and not context.customer.guest) %}
                        {% set classPopUp =   "wishlist-action-btn" %}
                            {% sw_include '@WishlistPlugin/storefront/component/product/card/wishlist-plugin.html.twig' with {
                            appearance: 'circle',
                            productId: id
                        } %}
                    {% else %}
                            {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                            appearance: 'circle',
                            productId: id
                        } %}
                    {% endif %}
                {% endblock %}
        </div>
    {% endblock %}


        